# Access Transformers for Muscle Mod
public net.minecraft.client.model.PlayerModel f_102903_ # leftSleeve
public net.minecraft.client.model.PlayerModel f_102904_ # rightSleeve
public net.minecraft.client.model.PlayerModel f_102905_ # leftPants
public net.minecraft.client.model.PlayerModel f_102906_ # rightPants
public net.minecraft.client.model.PlayerModel f_102907_ # jacket
